.body{ 
    display: flex;
    margin: 20px;
}
    
.frame{
    margin: 60px; 
    padding: 20px;  
    border:gray;
   
    
    
   

}
    .header { 
        display: flex;
        border: 10px;
     }


.part1{
    display: flex; 
    background-color: #d199ab;; 
    padding: 10px;

}
.row1{
    display: flex;
    justify-content: space-around;
}
.row2{
    display: flex;
    justify-content: space-between;
}
.row3{
    display: flex;

}
.row4{
    display: flex;
    justify-content: space-between;
}
.row5{
    display: flex;
    justify-content: end;
    background-color: rgba(128, 128, 128, 0.589);
}
<style>
.widthHalf {
    width: 50%;
}

.quaterWidth {
    width: 20%;
}

.thirdWidth {
    width: 30%;
}

input[type=text] {
    width: 100%;
}

.column {
    width: 50%;
}
.column1{
   width: 50%;
}
.column2{
    width: 25%;
}
.column3{
    width: 25%;
}
.column4{
width: 50%;
}
.column5{
    width: 50%;
}
</style>